/* client/src/index.css */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.leaflet-container {
  width: 100%;
  height: 100vh; /* карта на всю высоту окна */
}
