.header {
  width: 100%;
  /* Убрана фиксированная высота, используем высоту по содержимому */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* для поддержки Safari */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: 960px;
  /* min-width убран для адаптивности */
}

.logo {
  color: #333;
  text-decoration: none;
  font-weight: 600;
}

.headerInfoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.headerNav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navLink {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

.navLinkActive {
  color: #ba68c8;
  font-weight: 600;
}
