.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}
.logo {
  color: #fff;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  max-width: 960px;
  min-width: 960px;
}

.headerInfoContainer {
  width: fit-content;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}

.headerNav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 15px;
}
.headerNavList {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 15px;
}
.navLink {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
